--
--
%header.navigation
  .navigation-wrapper
    .logo
      = link_to '/index.html' do
        = image_tag "logo.svg"
    %a.mobile-logo{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %a.navigation-menu-button{href: ""} MENU
    %ul.navigation-menu
      %li.nav-link.more
        = link_to 'Indikatoren', '/index.html'
        %ul.submenu
          %li
            = link_to 'Sicherheit', '/sicherheit/index.html'
          %li
            %a Technologie
          %li
            %a Umwelt
          %li
            %a Migration
          %li
            %a Investitionspolitik
          %li
            %a Entwicklungszusammenarbeit
          %li
            %a Handel
      %li.nav-link
        = link_to 'Experten', '/experten/index.html'
      %li.nav-link
        %a{href: "javascript:void(0)"} Kontakt
