---
title: Entwicklungsbarometer - Sicherheit
---
#sicherheit
  %h1 Sicherheit
  .grid-items
    = link_to '/sicherheit/ruestung.html', class: 'grid-item grid-item-image export' do
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
      %h1 Waffenexporte in nicht-demokratische Staaten
    %a.grid-item.grid-item-image.un{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
      %h1 Militärausgaben für UN mandantierte Peacekeeping Einsätze
    %a.grid-item.grid-item-image.transparenz{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}/
      %h1 Transparenz des Waffenexports
    %a.grid-item.grid-item-image.abruestung{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
      %h1 Finanzierung von Abrüstung, Rüstungskontrollle und friedlicher Konfliklösung
    = partial 'partials/discuss_grid'
  #details
    = partial 'partials/security/description'
    #cdi-index
      %h3 CDI Ranking Sicherheit
      .cdi-index-sicherheit
      .explanation
        .content
          %p Im Deutschland-tut-gut-Projekt halten wir die beiden ersteren Indikatoren nicht für sinnvoll im Hinblick auf Armutsbekämpfung und Entwicklung. Insbesondere militärische Friedensmissionen ohne UN Mandat sind schwer zu bewerten im Hinblick auf ihren entwicklungsfördernden Einfluss. Die Ratifizierung von internationalen Sicherheitsabkommen ist durchaus wichtig für Stabilität und Entwicklung, allerdings haben fast alle OECD Länder fast alle Abkommen ratifiziert, so dass dieser Indikator nicht sinnvoll ist, um Potentiale für eine stärkere Entwicklungsorientierung der Sicherheitspolitik aufzuzeigen.
    .explanation
      #ngos
        %h3 NGOs im Bereich Sicherheit
        .vertical-tabs-container
          .vertical-tabs
            %a.js-vertical-tab.vertical-tab.is-active{href: "#", rel: "tab1"} BICC
            %a.js-vertical-tab.vertical-tab{href: "#", rel: "tab2"} GKKE
            %a.js-vertical-tab.vertical-tab{href: "#", rel: "tab3"} Aktion Aufschrei
            %a.js-vertical-tab.vertical-tab{href: "#", rel: "tab4"} Saferworld
          .vertical-tab-content-container
            %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{href: "", rel: "tab1"} Item 1
            #tab1.js-vertical-tab-content.vertical-tab-content
              = partial 'partials/security/bicc'
            %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{href: "", rel: "tab2"} Item 2
            #tab2.js-vertical-tab-content.vertical-tab-content
              = partial 'partials/security/gkke'
            %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{href: "", rel: "tab3"} Item 3
            #tab3.js-vertical-tab-content.vertical-tab-content
              = partial 'partials/security/aa'
            %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{href: "", rel: "tab4"} Item 4
            #tab4.js-vertical-tab-content.vertical-tab-content
              = partial 'partials/security/saferworld'
        %h4 Weitere relevante Organisationen
        %p
          Neben den hier genannten Organisationen gibt es eine Reihe weiterer Organisationen, die sich durch Öffentlichkeitsarbeit, Recherche und Aktionen gegen Waffenexporte einsetzen. Eine Liste relevanter Organisationen findet sich
          %a(href="http://www.waffenexporte.org/category/organisationen-ngo/") hier.
      #data
