---
title: Entwicklungsbarometer - Sicherheit
block: "sicherheit"
---
#sicherheit.indikator
  %h1.sicherheit Sicherheit
  %h4 Wie gut ist Sicherheitspolitik für die Welt?
  #graphic
  .sub-indikatoren
    %h1
      Indikatoren der Sicherheitspolitik
    = partial 'partials/security/description'
    %ul
      %li
        = link_to "/sicherheit/ruestung.html" do
          %h5 Waffenexporte in nicht demokratische Staaten
      %li
        %a
          %h5 Militärausgaben für UN mandantierte Peacekeeping Einsätze
      %li
        %a
          %h5 Transparenz des Waffenexports
      %li
        %a
          %h5 Finanzierung von Abrüstung, Rüstungskontrollle und friedlicher Konfliklösung
  .cdi
    #cdi-index
      .cdi-index-sicherheit
      %h2 CDI Ranking Sicherheit
      .explanation
        %p Bewertung der Sicherheitspolitik im CDI: Einer der sieben Politikbereiche, die im CDI bewertet werden, ist der Sicherheitsbereich. Die im CDI zugrunde gelegten Indikatoren stimmen nur teilweise mit den hier verwendeten Indikatoren überein. Während der CDI die Transparenz des Waffenexportes nicht berücksichtigt, werden noch drei weitere Indikatoren positiv bewertet: militärische Friedensmissionen ohne UN Mandat, die militärische Sicherung von Handelswegen und die Ratifizierung von Sicherheitsabkommen. Mehr Informationen dazu finden Sie auf der CDI Webseite (link).
      .explanation.last
        %p Im Deutschland-tut-gut-Projekt halten wir die beiden ersteren Indikatoren nicht für sinnvoll im Hinblick auf Armutsbekämpfung und Entwicklung. Insbesondere militärische Friedensmissionen ohne UN Mandat sind schwer zu bewerten im Hinblick auf ihren entwicklungsfördernden Einfluss. Die Ratifizierung von internationalen Sicherheitsabkommen ist durchaus wichtig für Stabilität und Entwicklung, allerdings haben fast alle OECD Länder fast alle Abkommen ratifiziert, so dass dieser Indikator nicht sinnvoll ist, um Potentiale für eine stärkere Entwicklungsorientierung der Sicherheitspolitik aufzuzeigen.
      #data
  .ngos
    %h3 NGOs im Bereich Sicherheit
    %ul
      %li
        %img
        = partial 'partials/security/bicc'
      %li
        %img
        = partial 'partials/security/gkke'
      %li
        %img
        = partial 'partials/security/aa'
      %li
        %img
        = partial 'partials/security/saferworld'
    %h4 Weitere relevante Organisationen
    %p
      Neben den hier genannten Organisationen gibt es eine Reihe weiterer Organisationen, die sich durch Öffentlichkeitsarbeit, Recherche und Aktionen gegen Waffenexporte einsetzen. Eine Liste relevanter Organisationen findet sich
      %a(href="http://www.waffenexporte.org/category/organisationen-ngo/") hier.
  = partial 'partials/indikator_interviews'
  #details
    .content-container
