---
title: Entwicklungsbarometer
---
#main
  %h1 In der deutschen Politik gibt es viele Hebel globale Armut zu bek채mpfen, aber werden sie genutzt?
  #map
    = image_tag "map.svg"
  %h2 Entdecke die wichtigsten Hebel f체r Armutsbek채mpfung in 7 Politikbereichen
  .description
    = partial 'partials/index-explanaition'

  .grid-items
    = link_to '/sicherheit/index.html', class: 'grid-item' do
      %h5.sicherheit Sicherheit
      %p Wie gut ist Sicherheitspolitik f체r die Welt?
    %a.grid-item{href: "javascript:void(0)"}
      %h5.technologie Technologie
    %a.grid-item{href: "javascript:void(0)"}
      %h5.umwelt Umwelt
    %a.grid-item{href: "javascript:void(0)"}
      %h5.migration Migration
    %a.grid-item{href: "javascript:void(0)"}
      %h5.investition Investitionspolitik
    %a.grid-item{href: "javascript:void(0)"}
      %h5.entwicklungszusammenarbeit Entwicklungszusammenarbeit
    %a.grid-item{href: "javascript:void(0)"}
      %h5.handel Handel
  .experten-interview
    %h3 Experten Interview
    .interview.last
      .interview-image
        = image_tag 'interviews/grebe.png'
      .interview-content
        %h4 First interview Title or Author
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.
  #cdi-index
    %h4 Bewertung Deutschlands im Commitment to Development Index im internationalen Vergleich.
    = partial 'partials/index-description'
    .cdi-index-overall
    .cdi-country-sub-index
      %h4.country-sub-label Germany
      .graph
